# Lending Club Case Study

## Problem Context

#### The consumer finance company serves as the largest online loan platform, offering personal, business, and medical financing with easily accessible lower interest rates. Like other lenders, issuing loans to risky applicants is the primary cause of financial loss, termed credit loss, where 'charged-off' borrowers who default cause the most significant loss to lenders. This credit loss results from borrowers refusing to pay or disappearing with owed money, marking them as defaulters.

## Objective and Goal

#### To mitigate financial loss by utilizing Exploratory Data Analysis techniques to identify key factors driving loan defaults. Exploring how data analysis can reduce risky loan applicants.

## Business Understanding

#### The bank's decision involves two types of risks:

1. Denying the loan to an applicant likely to repay leads to lost business for the company.
2. Approving the loan for an applicant unlikely to repay, essentially a potential defaulter, may result in financial loss for the company.

## 1. Importing Libraries and Dataset

In [1]:
#importing libraries
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading data
loan_data = pd.read_csv("loan.csv")

## 2. Information about the Dataset

In [3]:
#previewing first 5 rows of the data
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
#descriptive statistics
loan_data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [5]:
#data type of each column
loan_data.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [6]:
#previewing column names
loan_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [7]:
print("Initial data frame size : ", loan_data.shape)

Initial data frame size :  (39717, 111)

## 3. Cleaning Dataset

### a. removing null value columns(axis 1)

In [8]:
loan_data.dropna(axis = 1, how = 'all', inplace = True)
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [9]:
print("Data frame size after removing null value columns : ", loan_data.shape)

Data frame size after removing null value columns :  (39717, 57)

### b. dropping unique value columns

In [10]:
#checking unique and null value columns which will have no impact to analysis
loan_data.nunique().sort_values()

tax_liens                         1
delinq_amnt                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
application_type                  1
policy_code                       1
collections_12_mths_ex_med        1
pymnt_plan                        1
initial_list_status               1
term                              2
next_pymnt_d                      2
pub_rec_bankruptcies              3
loan_status                       3
verification_status               3
pub_rec                           5
home_ownership                    5
grade                             7
inq_last_6mths                    9
emp_length                       11
delinq_2yrs                      11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
mths_since_last_delinq           95
last_pymnt_d                    101
last_credit_pull_d              106
mths_since_last_record          111
int_rate                        371
earliest_cr_line                526
zip_code                        823
loan_amnt                       885
funded_amnt                    1041
revol_util                     1089
out_prncp                      1137
out_prncp_inv                  1138
total_rec_late_fee             1356
collection_recovery_fee        2616
dti                            2868
recoveries                     4040
annual_inc                     5318
total_rec_prncp                7976
funded_amnt_inv                8205
installment                   15383
title                         19615
revol_bal                     21711
desc                          26526
emp_title                     28820
last_pymnt_amnt               34930
total_rec_int                 35148
total_pymnt_inv               37518
total_pymnt                   37850
url                           39717
member_id                     39717
id                            39717
dtype: int64

In [11]:
#dropping unique and null value columns
loan_data = loan_data.loc[:,loan_data.nunique()>1]

In [12]:
print("Data frame size after removing unique value columns : ", loan_data.shape)

Data frame size after removing unique value columns :  (39717, 48)

### c. dropping irrelevant columns

#### i. Eliminating columns that are computed after loan approval and therefore hold no relevance to the analysis. Listed below are the features identified for post loan approval that are still existing in the dataframe after a & b cleaning steps:
##### 'total_rec_late_fee', 'collection_recovery_fee', 'total_acc','earliest_cr_line','total_pymnt','revol_bal','open_acc','total_pymnt_inv','out_prncp','revol_util','inq_last_6mths','total_rec_int','pub_rec','last_pymnt_amnt','total_rec_prncp','delinq_2yrs','out_prncp_inv','last_pymnt_d','last_credit_pull_d','recoveries','mths_since_last_delinq', 'last_pymnt_d '

In [13]:
loan_data=loan_data.drop(['total_rec_late_fee','collection_recovery_fee','total_acc','earliest_cr_line','total_pymnt','revol_bal','open_acc','total_pymnt_inv','out_prncp','revol_util','inq_last_6mths','total_rec_int','pub_rec','last_pymnt_amnt','total_rec_prncp','delinq_2yrs','out_prncp_inv',
 'recoveries','mths_since_last_delinq','last_pymnt_d'],axis=1)

In [14]:
print("Data frame size after dropping post loan approval columns : ", loan_data.shape)

Data frame size after dropping post loan approval columns :  (39717, 28)

#### ii. These features or columns don't contribute to the occurrence of loan defaults due to their irrelevant information, hence they will be removed. they are:
#### 'emp_title', 'title', 'url', 'last_credit_pull_d', 'zip_code', 'addr_state', 'member_id', 'id', 'desc'.

In [15]:
loan_data = loan_data.drop(['emp_title', 'title', 'url', 'last_credit_pull_d', 'zip_code', 'addr_state', 'member_id', 'id', 'desc'], axis=1)

In [16]:
print("Data frame size after dropping irrelevant columns : ", loan_data.shape)

Data frame size after dropping irrelevant columns :  (39717, 19)

In [17]:
#displaying column names after data cleaning
loan_data.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'dti', 'mths_since_last_record', 'next_pymnt_d',
       'pub_rec_bankruptcies'],
      dtype='object')

### d. filtering null values

#### i. dropping all columns which have more than 70% null values

In [18]:
loan_data = loan_data.loc[:,loan_data.isnull().sum()/loan_data.shape[0]*100<70]

In [19]:
print("Data frame size after dropping columns which has 70%+ null values: ", loan_data.shape)

Data frame size after dropping columns which has 70%+ null values:  (39717, 17)

In [20]:
#previewing column names
loan_data.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'dti', 'pub_rec_bankruptcies'],
      dtype='object')

#### ii. handling columns which have null values < 70%

In [21]:
# checking null/missing values in the dataframe
loan_data.isnull().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
dti                        0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
pub_rec_bankruptcies     697
emp_length              1075
dtype: int64

#### Based on the observed null values in column pub_rec_bankruptcies  and emp_length, we can opt to either remove or rectify them, considering the column's relevance to the analysis objective.

In [22]:
#analysis on pub_rec_bankruptcies
loan_data.pub_rec_bankruptcies.value_counts()

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64

In [23]:
#replacing the null values with zeros would be a better approach for this column
loan_data.pub_rec_bankruptcies.fillna(0, inplace=True)

In [26]:
#analysis on emp_length
loan_data.emp_length.value_counts()

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64

In [ ]:
#as per the data dictionary we can replace '10+ years' with '10', '< 1 year' with '0' and 'x years' with 'x'

In [39]:
loan_data.replace(to_replace='10+ years', value=10, inplace=True)
loan_data.replace(to_replace="< 1 year", value=0, inplace=True)

In [42]:
loan_data.emp_length.value_counts()

emp_length
10         8879
0          4583
2 years    4388
3 years    4095
4 years    3436
5 years    3282
1 year     3240
6 years    2229
7 years    1773
8 years    1479
9 years    1258
Name: count, dtype: int64